/*
PALETTE (from brightest to darkest:
#94E8B4
#72BDA3
#5E8C61
#4E6151
#3B322C
*/

body {
  width: 100%;
  min-width: 500px;
  font-family: arial;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: 10%;
}

.giveup {
  grid-column: 1/2;
  visibility: hidden;
  font-size: 300%;
  font-weight: bold;
  height: 80%;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

#p_clock {
  margin-top: 30px;
  font-size: 80px;
  font-weight: bold;
}

.div_score {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0px;
}

#p_score {
  position: absolute;
  margin: -20px;
}

.controlPanel {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 90%;
}

.control_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5E8C61;
  flex-direction: column;
  height: 10%;
}

.controlLanguage {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.btnLanguage {
  width: 50%;
  height: 100%;
}

.controlDifficulty {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.btnDifficulty {
  width: 33%;
  height: 100%;
}

.customRadio {
  background-color: #94E8B4;
  border: medium solid #72BDA3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}

.customRadio:hover {
  background-color: #72BDA3;
}

.controlStart {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}

.div_start {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  border: 2px solid #3B322C;
  background-color: #5E8C61;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 800%;
  font-weight: bold;
}

.div_start:hover {
  background-color: #3B322C;
  cursor: pointer;
}

.footer {
  position: fixed;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.livesDiv {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.lifeDiv {
  margin: 2px;
  width: 30%;
  height: 90%;
  background-color: rgb(190, 10, 10);
  border: black thin solid;
}

.content {
  width: 100%;
  height: 85%;
}

.flagContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divFlag {
  width: 60%;
  display: flex;
  justify-content: center;
}

#img_flag {
  max-width: 100%;
  max-height: 25vh;
  border: thin solid black;
}

#input_countryName {
  grid-row: 2/3;
  width: 60%;
  font-size: 400%;
}

.hintDiv {
  position: absolute;
  right: 0px;
  top: 20%;
  height: 20vh;
  max-height: 70%;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hintBtn {
  position: relative;
  background-color: #5E8C61;
  border: medium solid #4E6151;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 300%;
}

.infoDiv {
  position: absolute;
  visibility: hidden;
  width: 90%;
  font-size: 300%;
  padding: 4px;
  background-color: #5E8C61;
  border: medium solid #4E6151;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.infoContent {
  display: flex;
}

.infoText {
  font-weight: bold;
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.resultCountriesDiv {
  background-color: #5E8C61;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 80px auto;
  margin: 2px;
  width: 30%;
}

.resultFlag {
  grid-column: 1/2;
  width: 70px;
}

.resultText {
  grid-column: 2/3;
  display: flex;
  align-items: center;
}

.div_keyboard {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  visibility: hidden;
  background-color: rgb(238, 238, 238);
}

.div_keyboardRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.keyboard_btn {
  margin: 2px;
  background-color: white;
  border: thin grey solid;
  width: 8%;
  font-size: 400%;
}

.btnWide {
  width: 16%;
}

#btn_spacebar {
  width: 41%;
}

#btn_ok {
  width: 70%;
  background-color: rgb(180, 255, 170);
}